<h3>ระบบสารสนเทศเพื่อสร้างความเข้าใจร่วมกัน</h3>
<p>พื้นที่ที่ดำเนินการศึกษาและจัดทำข้อมูลครอบคลุมพื้นที่ตำบลคุ้งตะเภา ตำบลป่าเซ่า และตำบลหาดกรวด
    พื้นที่ดังกล่าวมีภูเขาสูงอยู่ทางทิศเหนือและทิศตะวันออกของพื้นที่ โดยมีแม่น้ำน่านไหลผ่านกลางพื้นที่
    เมื่อทำการวิเคราะห์เส้นลำน้ำที่ได้จากวิธี upslope ที่ไหลไปยังตำแหน่งใกล้เคียงตามทิศทางการไหล พบว่ามีเส้นลำน้ำย่อยๆ
    อยู่ทั่วพื้นที่ เมื่อทำการวิเคราะห์พื้นที่รับน้ำเมื่อมีฝนตกลงไปยังพื้นที่ พบว่า
    ฝนจะตกลงในพื้นที่โดยจะมีน้ำไหลลงมาจากภูเขาทางด้านทิศเหนือและทิศตะวันออกส่งผลให้น้ำไหลสะสมในพื้นที่ตำบลคุ้งตะเภา
    ป่าเซ่า และหาดกรวด ทำให้บริเวณดังกล่าวเป็นที่รับน้ำธรรมชาติ
    ไม่ว่าจะมีมหาวิทยาลัยราชภัฎอตรดิตถ์หรือไม่ก็ตามจากผลการวิเคราะห์ดังกล่าวสามารถนำข้อมูลไปเสนอต่อคนในพื้นที่ทั้ง 3
    ตำบลเพื่อลดความขัดแย้งได้</p>
<div class="d-flex justify-content-center">
    <img src="assets/images/55310.jpg" alt="area">
</div>
<div class="d-flex justify-content-center">
    <img src="assets/images/55311.jpg" alt="area" style="width: 60%;">
</div>
<div class="d-flex justify-content-center">
    <img src="assets/images/55312.jpg" alt="area" style="width: 60%;">
</div>
<div class="d-flex justify-content-center">
    <img src="assets/images/55313.jpg" alt="area" style="width: 60%;">
</div>