<div class="row">
    <div class="col-sm-12">
        <div class="rounded">
            <h4>ภาพจากดาวเทียม Himawari</h4>
            ข้อมูล Himawari Real-Time Image เมื่อเวลา: <span style="font-size: large;">{{satTime}} น.</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="rounded mt-3" id="map"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="tile rounded mt-3">
            ที่มา: ข้อมูลดาวเทียม <a href="https://www.data.jma.go.jp/mscweb/data/himawari/index.html/">Himawari
                Real-Time Image</a>, <a href="https://www.data.jma.go.jp/mscweb/en/index.html">Meteorological
                Satellite
                Center of JMA (Japan Meteorological Agency)</a>

        </div>
    </div>
</div>