<div class="row">
    <div class="col-sm-12">
        <div class="rounded">
            <h4>ระบบเฝ้าระวังและเตือนภัยธรรมชาติ จังหวัดอุตรดิตถ์</h4>
            โครงการวิจัยนี้จึงมีจุดมุ่งหมายเพื่อพัฒนาระบบสารสนเทศของจังหวัดสำหรับการพยากรณ์และแจ้งเตือนภัยโดยครอบคลุมภัยที่เคยเกิดขึ้นและสร้างความเสียหายจากดินโคลนถล่ม
            น้ำป่าไหลหลาก ภัยแล้ง และไฟป่า เพื่อให้เป็นเครื่องมือสำคัญที่ช่วยเพิ่มความไว (Sensibility)
            ต่อการติดตามสถานกาณ์เกิดภัยเพื่อให้หน่วยงานที่เกี่ยวข้องสามารถรับมือกับสถานการณ์ได้ทัน
            ลดความสูญเสียที่จะเกิดขึ้น และเป็นข้อมูลสำคัญที่ช่วยขับเคลื่อนงานด้านอื่นๆ ของจังหวัด
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8">
        <div class="rounded mt-3" id="map"></div>
    </div>
    <div class="col-md-4">
        <div class="dtile rounded mt-3">
            <!-- <canvas baseChart [data]="rhData" [labels]="rhLabels" [chartType]="rhType"></canvas>ngg -->
            <div class="row">
                <div class="col-2 form-group">
                    <label for="station01Rain">53001:</label>
                    <br>
                    <a href="http://cgi.uru.ac.th//ro/station.php"><img src="{{badge01}}" style="width: 30px;" /></a>
                </div>

                <div class="col-5 form-group">
                    <label for="station01Rain">น้ำฝน (mm.):</label>
                    <input type="number" id="station01Rain" [(ngModel)]="station01Rain" class="form-control"
                        (change)="floodSim01()">
                </div>
                <div class="col-5 form-group">
                    <label for="station01Runoff">น้ำในคลอง (cm.):</label>
                    <input type="number" id="station01Runoff" [(ngModel)]="station01Runoff" class="form-control"
                        (change)="floodSim01()">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2 form-group">
                    <label for="station02Rain">53002:</label>
                    <br>
                    <a href="http://cgi.uru.ac.th//ro/station1.php"><img src="{{badge02}}" style="width: 30px;" /></a>
                </div>
                <div class="col-5 form-group">
                    <label for="station02Rain">น้ำฝน (mm.):</label>
                    <input type="number" id="station02Rain" [(ngModel)]="station02Rain" class="form-control"
                        (change)="floodSim02()">
                </div>
                <div class="col-5 form-group">
                    <label for="station02Runoff">น้ำในคลอง (cm.):</label>
                    <input type="number" id="station02Runoff" [(ngModel)]="station02Runoff" class="form-control"
                        (change)="floodSim02()">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2 form-group">
                    <label for="station01Rain">53003:</label>
                    <br>
                    <a href="http://cgi.uru.ac.th//ro/station3.php"><img src="{{badge03}}" style="width: 30px;" /></a>
                </div>
                <div class="col-5 form-group">
                    <label for="station03Rain">น้ำฝน (mm.):</label>
                    <input type="number" id="station03Rain" [(ngModel)]="station03Rain" class="form-control"
                        (change)="floodSim03()">
                </div>
                <div class="col-5 form-group">
                    <label for="station03Runoff">น้ำในคลอง (cm.):</label>
                    <input type="number" id="station03Runoff" [(ngModel)]="station03Runoff" class="form-control"
                        (change)="floodSim03()">
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-2 form-group">
                    <label for="station01Rain">53004:</label>
                    <br>
                    <a href="http://cgi.uru.ac.th//ro/station2.php"><img src="{{badge04}}" style="width: 30px;" /></a>
                </div>
                <div class="col-5 form-group">
                    <label for="station04Rain">น้ำฝน (mm.):</label>
                    <input type="number" id="station04Rain" [(ngModel)]="station04Rain" class="form-control"
                        (change)="floodSim04()">
                </div>
                <div class="col-5 form-group">
                    <label for="station04Runoff">น้ำในคลอง (cm.):</label>
                    <input type="number" id="station04Runoff" [(ngModel)]="station04Runoff" class="form-control"
                        (change)="floodSim04()">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2 form-group">
                    <label for="station01Rain">53005:</label>
                    <br>
                    <a href="http://cgi.uru.ac.th//ro/station4.php"><img src="{{badge05}}" style="width: 30px;" /></a>
                </div>
                <div class="col-5 form-group">
                    <label for="station05Rain">น้ำฝน (mm.):</label>
                    <input type="number" id="station05Rain" [(ngModel)]="station05Rain" class="form-control"
                        (change)="floodSim05()">
                </div>
                <div class="col-5 form-group">
                    <label for="station05Runoff">น้ำในคลอง (cm.):</label>
                    <input type="number" id="station05Runoff" [(ngModel)]="station05Runoff" class="form-control"
                        (change)="floodSim05()">
                </div>
            </div>

        </div>
    </div>
</div>