<nav class="navbar navbar-expand-lg navbar-light bg-light bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">UDWS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">น้ำท่า</a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/landslide']" routerLinkActive="router-link-active">ดินโคลนถล่ม</a>
            </li> -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/rain']" routerLinkActive="router-link-active">น้ำฝน</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/satmeteo']"
                        routerLinkActive="router-link-active">ดาวเทียมตรวจอากาศ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/hotspot']"
                        routerLinkActive="router-link-active">ไฟป่าและหมอกควัน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/drought']" routerLinkActive="router-link-active">ภัยแล้ง</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/model']" routerLinkActive="router-link-active">โมเดลน้ำท่วม</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']"
                        routerLinkActive="router-link-active">ฐานข้อมูลเชิงพื้นที่</a>
                </li>
            </ul>
        </div>
    </div>
</nav>